.wrapper {
  background: #fffbf2;
}

.container {
  padding: 2rem 9%;
}
.baner {
  width: 100%;
  background-image: url("/sliders/stanczyka-slider/st3.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right;
  min-height: 100vh;
  position: relative;
}

.textContainer {
  padding: 3.5rem 2rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.85); /* Subtelna przezroczystość */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px; /* Cień dla lepszej widoczności */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  font-size: 1.5rem; /* Zwiększenie rozmiaru czcionki */
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.textContainer h1 {
  font-size: 2.3rem;
  color: rgb(0, 0, 0);
}

.textContainer p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.05rem;
  word-spacing: 0.01rem;
  font-weight: 400;
}

.header {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.header h2 {
  font-size: 2.3rem;
  font-weight: 500;
}

.upText {
  color: #08c6c3;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 500;
}

.description {
  text-align: center;
  margin-top: 2rem;
}

.cardWrapper {
  min-height: 100vh;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.card p {
  color: black;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.card a {
  display: inline;
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

.card a:hover {
  color: var(--color-primary);
}

.card1 {
  background: #ffe6e1;
  color: #ff583d;
}
.card2 {
  background: #ebe6fd;
  color: #6d5ebc;
}
.card3 {
  background: #fff3d4;
  color: #f8b03f;
}
.card4 {
  background: #d6fcf9;
  color: #35d4ae;
}

.card5 {
  background: #d7f4ff;
  color: rgb(99, 169, 189);
}

.card6 {
  background: #f9e5ff;
  color: #d16eef;
}

@media (max-width: 1200px) {
  .cardContainer {
    grid-template-columns: 1fr 1fr;
    padding-bottom: 2rem;
  }
}

@media (max-width: 900px) {
  .textContainer {
    padding: 2rem 1rem;
    width: 70%;
  }
  .textContainer h1 {
    font-size: 2rem;
  }
}

@media (max-width: 800px) {
  .header h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 700px) {
  .cardContainer {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 600px) {
  .textContainer h1 {
    font-size: 1.6rem !important;
  }
  .textContainer {
    padding: 2rem 1rem;
    width: 90%;
  }
  .buttonContainer {
    margin-top: 1.5rem;
  }

  .header {
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 444px) {
  .baner {
    background-size: 250%;
    background-repeat: no-repeat;
    background-position: 60% bottom;
  }
}

@media (max-width: 376px) {
  .baner {
    background-size: 100%;
  }
}

/* urzadzenie na boku */

@media (max-height: 440px) {
  .textContainer h1 {
    font-size: 1.3rem;
  }

  .buttonContainer {
    margin-top: 1rem;
  }
  .baner {
    background-size: 125%;
    background-repeat: no-repeat;
    background-position: top;
  }
}
