.wrapper {
  min-height: 100vh;
  padding: 4rem 9%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  min-height: 100vh;
}

.head {
  text-align: center;
}

.head h2 {
  margin-bottom: 3rem;
  font-size: 2.7rem;
  font-weight: 500;
}

.head p {
  font-size: 1.1rem;
  width: 80%;
  margin: auto;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.button {
  background: var(--color-primary);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0.8rem 1rem;
  border: 0;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  transition: 0.2s ease-in;
}

.button:hover {
  cursor: pointer;
  scale: 1.05;
}

.daySchedule {
  margin-top: 2rem;
}

.daySchedule li {
  margin-bottom: 1rem;
  list-style-type: none;
  font-size: 1.05rem;
  background: #f9f9f9; /* Lekkie tło dla wyróżnienia */
}

.daySchedule span {
  color: black;
}

.extra {
  margin-top: 2rem;
  font-size: 1.05rem;
}

.extra p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.extra ul li {
  list-style-type: none;
}

.additionalList li {
  margin-bottom: 1rem;
  background: #f9f9f9; /* Lekkie tło dla wyróżnienia */
}

@media (max-width: 900px) {
  .buttonContainer {
    gap: 1rem;
  }
  .head p {
    font-size: 1.1rem;
    width: 100%;
    margin: auto;
  }
  .extra p {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem;
  }
}

@media (max-width: 600px) {
  .container {
    margin-top: 2rem;
  }
  .container h2 {
    font-size: 2.1rem;
  }
}
