.wrapper {
  min-height: 100vh;
  padding: 4rem 9%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
}

.head h2 {
  margin-bottom: 1rem;
  font-size: 2.3rem;
  font-weight: 500;
}

.buttonContainer {
  display: flex;
  gap: 2rem;
}
.header2 {
  margin-top: 1.5rem;
  display: flex;
  font-size: 0.95rem;
  border: 2px solid var(--color-primary);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.header:hover {
  cursor: pointer;
  color: var(--color-primary);
}

.daySchedule {
  margin-top: 2rem;
}

.daySchedule h4 {
  margin-bottom: 1rem;
  font-weight: 500;
}

.daySchedule h5 {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.extra {
  margin-top: 2rem;
}

.extra p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.extra h5 {
  font-size: 1.1rem;
}

@media (max-width: 800px) {
  .buttonContainer {
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
  }
  .header2 {
    margin-top: 0rem;
  }
}

@media (max-width: 600px) {
  .container {
    margin-top: 2rem;
    padding-bottom: 4rem;
  }
  .container h2 {
    font-size: 1.8rem !important;
  }
}
