.container {
  margin-top: 3rem;
}
.container h2 {
  margin-bottom: 3rem;
  font-size: 2.3rem;
}

.container p {
  margin-top: 1rem !important;
  margin-bottom: 1rem;
}

.container h3 {
  margin: 0 !important;
  font-size: 1.25rem;
}

.header {
  margin-top: 1.5rem;
  display: flex;
}

.header {
  font-size: 1.3rem;
  transition: 0.3s;
}

.header:hover {
  cursor: pointer;
  color: rgb(255, 153, 0);
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon svg {
  font-size: 1.6rem;
  margin-left: 0.5rem;
}

.daySchedule {
  margin-top: 2rem;
}

.daySchedule h5 {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.extra {
  margin-top: 2rem;
}

.extra span {
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

.extra h5 {
  font-size: 1.1rem;
}

@media (max-width: 600px) {
  .container h2 {
    font-size: 1.8rem !important;
  }
}
