.container {
  padding: 2rem 9%;
  margin-top: 5rem;
}

.openModal__button:hover {
  scale: 1.02;
}

.modal {
  background: rgb(255, 255, 255);
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalContent img {
  height: 450px !important;
  width: 850px !important;
}

.closeButton {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  background: white;
  color: black;
  font-weight: bold;
  font-size: 3.5rem;
  border: 0;
  border-radius: 50%;
  transform: scale(0.6);
}

.closeButton:hover {
  scale: 1.05;
  cursor: pointer;
}

.innerContainer {
  display: flex;
  justify-content: space-between;
}

.container h4 {
  font-size: 2.3rem;
  color: #fa7070;
}

.container h5 {
  font-size: 1.6rem;
  margin-top: 0.6rem;
  margin-bottom: 1.5rem;
}

.container button {
  margin-top: 1.5rem;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  background: #fa7070;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1rem;
  border: 0px;
  margin-right: 1rem;
}

.container button:hover {
  cursor: pointer;
}

.images {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

@media (max-width: 1068px) {
  .innerContainer {
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .innerContainer img {
    width: 150px !important;
    height: 90px !important;
  }
  .modalContent img {
    height: 350px !important;
    width: 650px !important;
  }
}

@media (max-width: 768px) {
  .innerContainer h4 {
    font-size: 1.8rem;
  }
  .innerContainer h5 {
    font-size: 1.5rem;
  }
  .innerContainer img {
    width: 140px !important;
    height: 80px !important;
  }
}

@media (max-width: 668px) {
  .modalContent img {
    height: 300px !important;
    width: 450px !important;
  }
}

@media (max-width: 558px) {
  .container {
    margin-top: 1rem;
  }
  .innerContainer h4 {
    font-size: 1.7rem;
  }
  .innerContainer h5 {
    font-size: 1.25rem;
  }
}
@media (max-width: 470px) {
  .modalContent img {
    height: 200px !important;
    width: 350px !important;
  }
  .closeButton {
    top: 0rem;
    font-size: 2.5rem;
    right: 0.5rem;
  }
}
