.container {
  text-align: center;
  color: rgb(0, 0, 0);
  width: 80%;
  margin: auto;
  padding-top: 2rem;
}

.container p {
  margin-top: 1rem;
}

.contactContainer {
  padding: 3rem 7%;
  display: flex;
  margin: auto;
  width: 90%;
  margin-top: 4rem;
  border-radius: 1rem;
  justify-content: space-between;
  gap: 6rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 4rem;
}
.animals {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}
.animalsImgContainer {
  width: 80%;
}
.animals img {
  transform: translateX(-1.7rem);
  margin-bottom: 1rem;
}
.text {
  width: 60%;
}

.contactContainer h2 {
  font-size: 1.8rem;
}

.contactContainer p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.info {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  align-items: center;
}
.itemFacebook {
  display: flex;
  align-items: center;
}

.itemFacebook svg:hover {
  color: #fa7070 !important;
}

.itemFacebook p:hover {
  color: #fa7070;
}

.info svg {
  margin-right: 1.4rem;
  color: #fa7070;
  font-size: 1.8rem;
  vertical-align: middle;
}

.info p {
  color: black;
  font-size: 1.2rem;
  vertical-align: middle;
}

.phone {
  transform: translateY(-4px);
}

.info a {
  font-size: 1.2rem;
}
.info a:hover {
  color: #fa7070;
}
.facebook {
  color: blue !important;
}

.infoContainer {
  margin: auto;
  width: 80%;
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.infoContainer h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  margin-top: 4rem;
}

.listContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 4rem;
  margin-bottom: 5rem;
  list-style: none;
}

.listContainer li {
  background: #ffe3e3;
  padding: 1rem;
  border-radius: 1rem;
}

.listContainer li strong {
  font-size: 1.1rem;
  display: block;
}

@media (max-width: 1263px) {
  .animals {
    width: 35%;
  }
  .animals img {
    transform: translateX(-0rem);
  }
  .contactContainer h2 {
    font-size: 1.6rem;
  }
  .info p {
    font-size: 1.2rem;
  }
}

@media (max-width: 1000px) {
  .contactContainer {
    padding: 2rem 9%;
    flex-direction: column;
    gap: 3rem;
  }
  .animalsImgContainer {
    width: 50%;
  }
  .animals {
    width: 100%;
  }
  .text {
    width: 100%;
  }

  .info p {
    font-size: 1.25rem;
  }
  .info a {
    font-size: 1.25rem;
  }
}

@media (max-width: 621px) {
  .container h1 {
    margin-bottom: 0rem;
  }
  .animals img {
    margin-bottom: 0rem;
  }
  .animalsImgContainer {
    width: 55%;
  }

  .container {
    width: 100% !important;
    padding: 2rem 9%;
  }
  .contactContainer {
    width: 92%;
  }
  .contactContainer {
    margin-top: 1.5rem;
    padding: 2rem;
  }
  .listContainer {
    grid-template-columns: 1fr;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
  .infoContainer {
    margin-top: 4rem;
    margin-bottom: 5rem;
  }
  .infoContainer h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 500px) {
  .animalsImgContainer {
    width: 72%;
  }
  .item p {
    font-size: 1.1rem;
  }
  .item a {
    font-size: 1.1rem;
  }
  .itemFacebook p {
    font-size: 1.1rem;
  }
  .info svg {
    margin-right: 1rem;
    color: #fa7070;
    font-size: 1.8rem;
  }
  .contactContainer {
    gap: 2.5rem;
  }
  .animals {
    margin-bottom: 0;
  }
}
