.container {
  text-align: center;
  color: grey;
  width: 60%;
  margin: auto;
  margin-top: 5rem;
}

.contactContainer {
  padding: 2rem 9%;
  display: flex;
  margin: auto;
  width: 80%;
  margin-top: 4rem;
  border-radius: 1rem;
  justify-content: space-between;
  gap: 4rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.animals {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}
.text {
  width: 60%;
}

.contactContainer h2 {
  font-size: 1.8rem;
}

.contactContainer p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: grey;
}

.info {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  align-items: center;
}
.itemFacebook {
  display: flex;
  align-items: center;
}

.itemFacebook svg:hover {
  color: #fa7070 !important;
}

.itemFacebook p:hover {
  color: #fa7070;
}

.info svg {
  margin-right: 1.4rem;
  color: #fa7070;
  font-size: 2rem;
}

.info p {
  color: black;
  font-size: 1.2rem;
}
.facebook {
  color: blue !important;
}

@media (max-width: 1263px) {
  .animals {
    width: 40%;
  }
  .contactContainer h2 {
    font-size: 1.6rem;
  }
  .info p {
    font-size: 1.2rem;
  }
}

@media (max-width: 1133px) {
  .contactContainer {
    padding: 4rem 2rem;
  }
  .contactContainer h2 {
    font-size: 1.6rem;
  }
  .info p {
    font-size: 1.05rem;
  }
}

@media (max-width: 1070px) {
  .animals {
    width: 45%;
  }

  .info p {
    font-size: 1.15rem;
  }
}

@media (max-width: 977px) {
  .contactContainer {
    padding: 2rem 9%;
    flex-direction: column-reverse;
  }
  .animals {
    width: 100%;
  }
  .text {
    width: 100%;
  }
  .container {
    margin-top: 5rem;
  }
}

@media (max-width: 621px) {
  .container h1 {
    font-size: 2.4rem !important;
    width: 100% !important;
  }
  .container{
    width: 100% !important;
    padding: 2rem 9%;
    margin-top: 1rem;
  }
  .contactContainer {
    width: 92%;
    
  }
  .contactContainer{
    margin-top: 1.5rem;
    padding: 2rem;
    margin-bottom: 0rem;
  }
}

@media (max-width: 500px) {
  .item p{
    font-size: 0.98rem;
  }
  .itemFacebook p{
    font-size: 0.98rem;
  }
  .info svg {
    margin-right: 1.4rem;
    color: #fa7070;
    font-size: 1.6rem;
  }
  .contactContainer{
    gap: 2.5rem;
  }
  .animals{
    margin-bottom: 0;
  }
}