.container h3 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  color: #fa7070;
}

.weekDays {
  display: flex;
}

.weekDays li {
  font-size: 1.25rem;
  margin-right: 1.5rem;
  color: #2c7865;
  transition: 0.3s ease;
  list-style: none;
}
.weekDays li:hover {
  cursor: pointer;
  color: #43b79a;
  opacity: 0.8;
}

.activeDay {
  color: #fa7070 !important;
}

.description {
  margin-top: 1.5rem;
}

.description ul li strong {
  font-size: 1.1rem;
  display: block;
}

.description ul li {
  list-style: none;
}

@media (max-width: 618px) {
  .weekDays {
    overflow: scroll;
  }
}
