.foodContainer {
  padding: 2rem 9%;
  padding-bottom: 4rem;
}

.foodContainer p {
  width: 100%;
  text-align: left;
  color: rgb(78, 77, 77);
}

.header {
  text-align: center;
  margin-top: 2.5rem;
  font-size: 2.3rem;
  color: #fa7070;
  margin-bottom: 2rem;
}

.container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
}

.option {
  background: #2c7865;
  color: white;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 1rem;
  transition: 0.3s ease;
}

.option:hover {
  cursor: pointer;
  opacity: 0.9;
}

@media (max-width: 852px) {
  .container {
    flex-direction: column;
  }
  .option {
    margin-top: 1.5rem;
  }
}

@media (max-width: 572px) {
  .foodContainer p {
    width: 100%;
  }
  .header {
    margin-top: 0rem;
    font-size: 1.8rem;
  }
}
