.container {
  padding: 2rem 9%;
}

.banerContainer {
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.banerText {
  width: 50%;
}

.banerText h2 {
  font-size: 2rem !important;
}
.baner p {
  margin-top: 2rem;
}

.banerContainer img {
  width: 25% !important;
}

.infoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 9rem;
  gap: 2rem;
  padding-bottom: 7rem;
}

.card {
  padding: 1.5rem;
  border-radius: 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card p {
  font-weight: 400;
  color: black;
}

.text {
  padding-bottom: 1.5rem;
}

.card h3 {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

.card1 {
  background: #ffe6e1;
  color: #ff583d;
}
.card2 {
  background: #ebe6fd;
  color: #6d5ebc;
}
.card3 {
  background: #fff3d4;
  color: #f8b03f;
}
.card4 {
  background: #d6fcf9;
  color: #35d4ae;
}

.button {
  display: flex;
  justify-content: center;
}

.button a {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: #fa7070;
  color: #fff;
  font-weight: bold;
  border: none;
  text-align: center;
  width: 50%;
  transition: all 0.1s ease-in;
}

.button a:hover {
  cursor: pointer;
  transform: scale(1.1);
  background: #d86161;
}

@media (max-width: 1600px) {
  .banerContainer {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .infoContainer {
    grid-template-columns: 1fr 1fr;
    margin-top: 6rem;
    gap: 4rem;
    padding-bottom: 6rem;
  }

  .card {
    padding: 3rem;
  }
}

@media (max-width: 1200px) {
  .banerContainer img {
    width: 35% !important;
  }
}

@media (max-width: 900px) {
  .banerContainer img {
    width: 33% !important;
  }
  .card {
    padding: 1.5rem;
  }
  .infoContainer {
    gap: 2rem;
  }
}

@media (max-width: 800px) {
  .banerContainer {
    margin-top: 2rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
  }
  .banerText h2 {
    font-size: 1.6rem !important;
  }
  .banerText {
    width: 100%;
  }
  .banerContainer img {
    width: 50% !important;
  }

  .infoContainer {
    grid-template-columns: 1fr;
    margin-top: 4rem;
    gap: 3rem;
    padding-bottom: 3rem;
  }
  .card {
    padding: 2.5rem;
  }
}
