@import "tailwindcss";

@layer utilities {
  .text-primary {
    @apply text-[#ff5757];
  }
  .bg-primary {
    @apply bg-[#ff5757];
  }
  .text-secondary {
    @apply text-[#08c6c3];
  }
  .bg-secondary {
    @apply bg-[#0096da];
  }
  .text-customBlue {
    @apply text-[#0096da];
  }
}

html,
body {
  max-width: 100vw;
  max-height: 100vh;
  scroll-behavior: smooth;
}

svg {
  display: block;
  width: 100%;
  margin-bottom: -5px; /* Możesz dostosować wartość */
}

a {
  text-decoration: none;
}

.mask-cloud {
  --mask: radial-gradient(76.2px at 50% 107.5px, #000 99%, #0000 101%)
      calc(50% - 100px) 0/200px 51% repeat-x,
    radial-gradient(76.2px at 50% -57.5px, #0000 99%, #000 101%) 50% 50px/200px
      calc(51% - 50px) repeat-x,
    radial-gradient(76.2px at 50% calc(100% - 107.5px), #000 99%, #0000 101%)
      calc(50% - 100px) 100%/200px 51% repeat-x,
    radial-gradient(76.2px at 50% calc(100% + 57.5px), #0000 99%, #000 101%) 50%
      calc(100% - 50px) / 200px calc(51% - 50px) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}
