.buttonContainer {
  background: #4a71ff;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 0.6rem;
  font-size: 1.1rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.buttonContainer:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  .buttonContainer {
    font-size: 1rem;
  }
}

@media (max-width: 380px) {
  .buttonContainer {
    font-size: 0.9rem;
  }
}
