.buttonContainer {
  display: inline-block;
}

.buttonContainer button {
  padding: 0.9rem 1.3rem;
  border-radius: 0.5rem;
  background: #ff5353;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: bold;
  border: 0px;
  margin-right: 1rem;
}

.buttonContainer button:hover {
  cursor: pointer;
  transform: translateY(-1.5px);
}
