.buttonContainer {
  display: inline-block;
}

.buttonContainer button {
  padding: 0.9rem 1.3rem;
  border-radius: 0.5rem;
  background: #fa7070;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: 0px;
  margin-right: 1rem;
}

.buttonContainer button:hover {
  cursor: pointer;
  transform: translateY(-1.5px);
}
