.buttonContainer {
  display: inline-block;
}

.buttonContainer a {
  padding: 0.9rem 1.3rem;
  border-radius: 0.5rem;
  background: #4a71ff;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  border: 0px;
  margin-right: 1rem;
}

.buttonContainer a:hover {
  cursor: pointer;
  transform: translateY(-1.5px);
}
@media (max-width: 600px) {
  .buttonContainer a {
    font-size: 1rem;
  }
}
