.container {
  background: var(--color-blue);
  color: white;
  padding: 4rem 9%;
  padding-top: 0;
  font-size: 1.1rem;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.textContainer h2 {
  font-size: 2rem;
}

.textContainer h2 span {
  background: white;
  padding: 0 1rem;
  border-radius: 2rem;
}

.textContainer p {
  font-size: 1.2rem;
  margin-top: 2rem;
}

/* INFO CONTAINER */

.footerInfoContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

.footerInfoContainer h3 {
  font-size: 1.6rem;
  margin-bottom: 2.5rem;
}

.hoursContainer ul {
  list-style-type: none;
}

.hoursContainer li {
  margin: 0.5rem 0;
}

.hoursContainer ul li span {
  font-weight: bold;
  color: white;
}

/* CONTACT INFO */

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.iconContainer,
.linkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconContainer svg {
  font-size: 1.5rem;
}

.contactInfo li {
  list-style-type: none;
}

.contactInfo li a {
  display: flex;
  gap: 1rem;
  transition: all 0.3s ease-in-out;
}

.contactInfo li a:hover {
  color: var(--color-primary);
}

/* SOCIAL MEDIA */

.socialContainer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 2rem;
  padding: 1rem;
}

.socialContainer a {
  transition: all 0.3s ease-in-out;
}

.socialContainer svg {
  font-size: 2.3rem;
}

.facebook {
  color: blue;
}
.instagram {
  color: red;
}

/* FOOTER DOWN CONTIANER */

.footerDownContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.footerDownContainer a {
  transition: all 0.3s ease-in-out;
}

.footerDownContainer a:hover {
  color: var(--color-primary);
}

.copy {
  color: white;
}

@media (max-width: 1000px) {
  .topContainer {
    gap: 2rem;
  }
}

@media (max-width: 900px) {
  .container {
    padding: 4rem 6%;
  }

  .footerDownContainer {
    text-align: center;
  }
}

@media (max-width: 800px) {
  .topContainer {
    flex-direction: column;
    gap: 2rem;
  }

  .footerInfoContainer {
    flex-direction: column;
    gap: 3rem;
    margin-top: 3.5rem;
  }
}

@media (max-width: 600px) {
  .container {
    padding-bottom: 2rem;
  }
  .textContainer h2 {
    font-size: 1.8rem;
  }
  .textContainer p {
    font-size: 1.1rem;
  }
  .footerInfoContainer h3 {
    margin-bottom: 2rem;
  }
}
