.itemContainer h3 {
  font-size: 1.2rem;
  margin-top: 1.5rem;
}
.itemContainer p {
  margin-top: 0.5rem;
}
.numbers {
  display: flex;
}

.numbers p {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff6666;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 1rem;
  color: white;
  font-size: 1.1rem;
  transition: all 0.3s;
}

.numbers p:hover {
  scale: 1.1;
}

.numbers p:hover {
  cursor: pointer;
}
.number {
  font-weight: bold;
  color: #ff6666;
  font-size: 1.3rem;
}

@media (max-width: 820px) {
  .numbers p {
    width: 35px;
    height: 35px;
    margin-top: 0.5rem;
  }
  .number {
    font-weight: bold;
    font-size: 1.1rem;
  }
  .itemContainer h3 {
    font-size: 1.05rem;
    margin-top: 1rem;
  }
  .itemContainer p {
    margin-top: 0.4rem;
  }
}

@media (max-width: 660px) {
  .numbers p {
    width: 45px;
    height: 45px;
    margin-top: 0.5rem;
  }
  .number {
    font-weight: bold;
    font-size: 1.5rem !important;
  }
  .itemContainer h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  .itemContainer p {
    margin-top: 0.4rem;
    font-size: 1.1rem;
  }
}

@media (max-width: 540px) {
  .numbers p {
    width: 40px;
    height: 40px;
    margin-top: 0.5rem;
  }
  .number {
    font-weight: bold;
    font-size: 1.3rem !important;
  }
  .itemContainer h3 {
    font-size: 1.3rem;
    margin-top: 1rem;
  }
  .itemContainer p {
    margin-top: 0.4rem;
    font-size: 1.05rem;
  }
}

@media (max-width: 450px) {
  .numbers p {
    width: 40px;
    height: 40px;
    margin-top: 0.5rem;
  }
  .number {
    font-weight: bold;
    font-size: 1.3rem !important;
  }
  .itemContainer h3 {
    font-size: 1.1rem;
    margin-top: 1rem;
  }
  .itemContainer p {
    margin-top: 0.4rem;
    font-size: 1rem;
  }
}
