.numbersContainer {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 2rem;
  border-radius: 2rem;
  background: white;
}

.itemContainer {
  color: black;
}

.itemContainer h3 {
  font-size: 1.2rem;
  margin-top: 1.5rem;
}
.itemContainer p {
  margin-top: 0.5rem;
}

.numbers {
  display: flex;
}

.numbers span {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-primary);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 1rem;
  color: white;
  font-size: 1.5rem;
  transition: all 0.3s;
}

.numbers span:hover {
  scale: 1.1;
  cursor: pointer;
}

.number {
  font-weight: bold;
  font-size: 1.3rem;
}

@media (max-width: 900px) {
  .numbersContainer {
    padding: 1rem;
  }
  .itemContainer h3 {
    font-size: 1.15rem;
    margin-top: 1rem;
  }
  .numbers span {
    width: 45px;
    height: 45px;
    font-size: 1.25rem;
  }
}
