.star {
  color: gold;
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
  animation: pulse 1.5s infinite;
  transition: all 0.2s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
