.container {
  margin-bottom: 6rem;
}

.container h3 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 1.7rem;
}

.slider {
  width: 100%;
}
.rotate {
  transform: rotate(180deg);
  margin-right: 2rem;
}

.rightArrow {
  margin-left: 2rem;
}

@media (max-width: 1215px) {
  .container h3 {
    font-size: 1.3rem;
  }
  .rotate {
    margin-right: -1rem;
  }

  .rightArrow {
    margin-left: -1rem;
  }
}
