.container {
  margin-bottom: 6rem;
}

.container h3 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 1.7rem;
}

.slider {
  width: 100%;
  margin: auto;
}
.rotate {
  transform: rotate(180deg);
  margin-right: 2rem;
}
.rotate svg {
  color: black;
  font-size: 2rem;
}

.rightArrow {
  margin-left: 2rem;
}
.rightArrow svg {
  color: black;
  font-size: 2rem;
}

@media (max-width: 1215px) {
  .container h3 {
    font-size: 1.3rem;
  }
  .rotate {
    margin-right: -1rem;
  }
  .slider {
    width: 90%;
  }
  .rightArrow {
    margin-left: -1rem;
  }
}

@media (max-width: 465px) {
  .rotate {
    margin-right: 1rem;
  }
  .slider {
    width: 80%;
  }
  .rightArrow {
    margin-left: 1rem;
  }
}
