.container {
  margin-bottom: 6rem;
}

.container h3 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 1.7rem;
}

.icon{
    display: flex;
    justify-content: center;
}

.container svg {
  text-align: center;
  font-size: 4rem;
  color: #fa7070;
}

.slider {
  width: 100%;
}
