.container {
  padding: 2rem 9%;
}

.container h1 {
  font-size: 2rem !important;
}

.banerContainer {
  margin-top: 3rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28%;
}
.imageContainer img {
  border-radius: 6rem;
}

.textContainer {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.textContainer p:nth-child(1) {
  color: #08c6c3;
  font-weight: bold;
  font-size: 1.1rem;
}

.textContainer h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.text {
  font-weight: 400;
  margin-bottom: 1rem;
  font-size: 1.05rem;
}
.buttonContainer {
  display: flex;
  margin-top: 2rem;
}

.head {
  padding-top: 3rem;
  text-align: center;
  margin-bottom: 3rem;
}

.head h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.3rem;
}

.card {
  padding: 1.5rem;
  border: 2px solid #fa7070;
  border-radius: 2rem;
  background: rgb(255, 255, 255);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card h3 {
  margin-bottom: 2rem;
  font-size: 1.4rem;
}

@media (min-width: 1400px) {
  .cardContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1400px) {
  .imageContainer {
    width: 33%;
    margin: auto;
  }
}

@media (max-width: 1300px) {
  .banerContainer {
    margin-top: 3rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5rem;
  }
  .textContainer {
    width: 100%;
    margin: auto;
    padding-bottom: 2rem;
  }
}

@media (max-width: 900px) {
  .container h1 {
    font-size: 1.8rem !important;
  }
  .imageContainer {
    width: 50%;
  }
  .cardContainer {
    gap: 2rem;
  }
  .imageContainer img {
    border-radius: 4rem;
  }
}

@media (max-width: 700px) {
  .imageContainer {
    width: 65%;
  }
  .cardContainer {
    grid-template-columns: 1fr;
    gap: 3rem;
    padding-bottom: 2rem;
  }
  .banerContainer {
    margin-top: 1rem;
    margin-bottom: 0rem;
    gap: 4rem;
  }
  .head h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 600px) {
  .card h3 {
    font-size: 1.3rem;
  }
  .imageContainer {
    width: 70%;
  }
}
