.adaptacjaContainer {
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin-top: 4rem;
  padding-bottom: 6rem;
}

.imageContainer {
  width: 70%;
  margin: auto;
}

.imageContainer img {
  width: 100% !important;
  height: 100% !important;
}

.textContainer {
  width: 80%;
  margin: auto;
  padding-bottom: 2rem;
}

.textContainer p:nth-child(1) {
  color: #08c6c3;
  font-weight: bold;
  font-size: 1.1rem;
}

.textContainer h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.text {
  font-weight: 400;
  margin-bottom: 1rem;
  font-size: 1.05rem;
}
.buttonContainer{
  display: flex;
}

@media (max-width: 1200px) {
  .adaptacjaContainer {
    gap: 4rem;
  }
  .imageContainer {
    width: 100%;
  }
  .textContainer {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .adaptacjaContainer {
    gap: 2.5rem;
  }
  .text {
    font-size: 0.95rem;
  }

  .textContainer h2 {
    font-size: 1.4rem;
  }
}

@media (max-width: 700px) {
  .adaptacjaContainer {
    grid-template-columns: 1fr;
    margin-top: 2rem;
    gap: 4rem;
    padding-bottom: 0rem;
  }
  .imageContainer {
    width: 60%;
  }

  .textContainer h2 {
    font-size: 1.4rem;
  }
}
@media (max-width: 500px) {
  .imageContainer {
    width: 80%;
  }
  .adaptacjaContainer {
    gap: 2.5rem;
  }
}
