.container {
  padding: 2rem 9%;
  padding-bottom: 0;
}

.container span {
  color: #08c6c3;
  font-weight: bold;
}

/* cloud container */

.cloudContainer {
  min-height: 100vh;
  background: #ffe3e1;
  --mask: radial-gradient(78.1px at 50% 110px, #000 99%, #0000 101%)
      calc(50% - 100px) 0/200px 100%,
    radial-gradient(78.1px at 50% -60px, #0000 99%, #000 101%) 50% 50px/200px
      100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  padding: 6rem 9%;
}

.head {
  text-align: center;
}

.head h3 {
  margin-top: 1.5rem;
  font-size: 1.8rem;
  color: black;
}

.head p {
  width: 65%;
  margin: auto;
  margin-top: 1.5rem;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 4rem 2rem;
  margin-bottom: 2rem;
}

.card {
  background: rgb(251, 245, 236);
  border-radius: 1rem;
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card img {
  width: 100% !important;
  height: 300px !important;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.cardText {
  padding: 2rem;
  margin-bottom: 1rem;
  font-size: 0.95rem;
}

.card h4 {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.card a {
  position: absolute;
  bottom: -1.2rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.9rem 1.3rem;
  border-radius: 0.5rem;
  background: #fa7070;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: 0px;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card a:hover {
  cursor: pointer;
  background: #da6262;
}

/*PLAN ADAPTACJI */

.planContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  margin-top: 3rem;
}

.planCard {
  background: rgb(251, 245, 236);
  padding: 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 1rem;
  position: relative;
  border: 2px solid #ff9494;
}
.planCard p {
  font-size: 0.95rem;
}

.planCard strong {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.planCard h4 {
  margin-top: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.arrow {
  position: absolute;
  right: -1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #08c6c3;
}

@media (max-width: 1400px) {
  .cardContainer {
    gap: 1.5rem;
    padding: 4rem 0rem;
  }
  .cardText {
    font-size: 0.95rem;
  }
}

@media (max-width: 1200px) {
  .cardText {
    padding: 1rem;
  }

  .planContainer {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

@media (max-width: 900px) {
  .planCard {
    padding: 1.5rem;
  }
  .cardContainer {
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 2rem 0rem;
  }
  .card {
    margin: auto;
    margin-top: 2rem;
    width: 60%;
  }
  .head p {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .planCard strong {
    font-size: 1.8rem;
  }
  .card {
    width: 100%;
  }
  .cardText {
    padding: 1.5rem;
    padding-bottom: 2rem;
  }
  .card img {
    width: 100% !important;
    height: 250px !important;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  .planContainer {
    gap: 4rem;
    grid-template-columns: 1fr;
  }

  .planCard {
    padding: 1rem;
  }
  .arrow {
    font-size: 2.2rem;
    top: 103%;
    left: 50%;
    transform: translateX(-50%) rotate(90deg); /* Obrót strzałki w dół */
  }
}
