.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

@media (max-width: 900px) {
  .imageGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .imageGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}
