.image {
  min-height: 250px;
  max-height: 250px;
  max-width: 300px;
  object-fit: cover;
  padding: 0.5rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.innerContainer p {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
  text-align: center;
  text-transform: capitalize;
}

.innerContainer {
  transition: ease-in 0.15s;
}

.innerContainer:hover {
  transform: translateY(-4px);
  cursor: pointer;
}

@media (max-width: 680px) {
  .image {
    max-height: 300px;
    max-width: 400px;
  }
  .innerContainer:hover {
    transform: translateY(0px);
  }
}

@media (max-width: 530px) {
  .image {
    max-height: 250px;
    max-width: 350px;
  }
}
