.container {
  min-height: 70vh;
  display: flex;
  padding: 2rem 9%;
  justify-content: space-between;
  margin-top: 5rem;
  margin-bottom: 7rem;
}
.imageContainer {
  margin-top: 2.5rem;
  width: 35%;
  transform: translateX(-3rem);
}

.textContainer {
  width: 60%;
  margin-top: 2.5rem;
}

.textContainer h2 {
  font-size: 1.6rem;
}

.text {
  margin-top: 1.1rem;
  margin-bottom: 1rem;
  color: #767573;
}

.itemContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  display: flex;
  border-radius: 0.4rem;
  padding: 0.6rem 0.4rem;
  width: 45%;
  margin: 1rem 1rem 1rem 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  align-items: center;
  transition: all ease 0.2s;
}

.item:hover {
  scale: 1.03;
}

.item p {
  font-weight: 500;
}

.contactInfoContainer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.aga {
  border-radius: 100%;
}

.ownerContainer {
  display: flex;
  margin-left: 1.5rem;
}
.phoneContainer {
  margin-left: 1rem;
}
.phone {
  font-weight: bold;
  font-size: 1.15rem;
}
.ownerDescription {
  color: #08c6c3;
  font-weight: bold;
}

.checkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  width: 15%;
}

.icon {
  font-size: 1.8rem;
  color: orange;
}

@media (max-width: 1349px) {
  .item {
    width: 45%;
    height: 60px;
  }
  .textContainer h2 {
    width: 80%;
  }
  .imageContainer {
    width: 40%;
    margin-right: 3.5rem;
  }
}
@media (max-width: 1200px) {
  .ownerContainer {
    margin-left: 2rem;
  }
  .contactInfoContainer button {
    width: 100%;
  }
  .ownerDescription {
    font-size: 0.85rem;
  }
  .container {
    flex-direction: column-reverse;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .textContainer {
    width: 100%;
    margin-bottom: 2rem;
  }
  .imageContainer {
    margin-top: 2rem;
    width: 40%;
    margin: auto;
    transform: translateX(0);
  }
}

@media (max-width: 800px) {
  .container {
    margin-top: 1rem;
  }
  .textContainer {
    margin-top: 0rem;
  }
  .imageContainer {
    margin-top: 0;
    width: 50%;
  }
  .checkContainer {
    margin-right: 0.6rem;
    width: 15%;
  }
  .item p {
    font-size: 0.8rem;
  }
  .textContainer h2 {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .container{
    margin-bottom: 0;
  }
  .textContainer h2 {
    font-size: 1.55rem;
  }
  .imageContainer{
    width: 85%;
  }
  .item p {
    font-size: 0.9rem;
  }
  .contactInfoContainer {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .ownerContainer {
    margin-left: 0rem;
    margin-bottom: 1rem;
  }
  .item {
    width: 100%;
  }
  .item p {
    font-size: 0.9rem;
  }
  .phone {
    font-size: 1rem;
  }
}

@media (max-width: 378px) {
  .ownerDescription {
    font-size: 0.8rem;
  }
}
