.banerContainer {
  height: 100vh;
  padding: 2rem 9%;
  background: #c7eeff;
  background-image: url("/baner_nowy.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
}

.textContainer {
  color: black;
  width: 60%;
  display: flex;
  justify-content: center;
  margin-top: 7rem;
}

.textContainer h1 span {
  font-size: 2.3rem;
  display: inline;
  color: black;
}

.textContainer p {
  margin-top: 1.5rem;
  color: #616161;
  font-size: 1.1rem;
  width: 85%;
  word-spacing: 0.01rem;
  font-weight: 500;
}
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  margin-top: 1.5rem;
  display: flex;
}

@media (max-width: 1070px) {
  .textContainer {
    width: 70%;
  }
  .textContainer {
    margin-top: 9rem;
  }
}

@media (max-width: 820px) {
  .textContainer {
    margin-top: 12rem;
    width: 95%;
  }
}

@media (max-width: 712px) {
  .banerContainer {
    flex-direction: column;
    padding: 2rem 9%;
    width: 100%;
  }
  .textContainer {
    width: 100%;
  }
  .textContainer h1 span {
    font-size: 1.9rem;
  }
  .textContainer p {
    font-size: 1.1rem;
  }
  .buttonContainer button {
    padding: 0.9rem 1.3rem;
    font-size: 1rem !important;
    margin-right: 2rem !important;
  }
  .imageContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 4rem;
  }
}
@media (max-width: 620px) {
  .textContainer {
    margin-top: 6rem;
  }
  .textContainer p {
    width: 100%;
  }
}

@media (max-width: 444px) {
  .banerContainer {
    display: flex;
    flex-direction: column;
    padding: 2rem 9%;
    border-radius: 0;
    background-size: 250%;
    background-repeat: no-repeat;
    background-position: 60% bottom;
  }

  .textContainer h1 span {
    font-size: 1.8rem;
  }
  .textContainer p {
    font-size: 1.1rem;
  }
  .buttonContainer button {
    font-size: 1rem !important;
    margin-right: 1rem !important;
  }
}

@media (max-width: 406px) {
  .buttonContainer button {
    font-size: 0.9rem !important;
  }
}

@media (max-width: 381px) {
  .buttonContainer button {
    padding: 0.9rem 0.9rem;
  }
  .banerContainer {
    background-size: 150%;
  }
}
@media (max-width: 350px) {
  .banerContainer {
    padding: 2rem 5%;
  }
}

@media (max-height: 440px) {
  .textContainer {
    margin-top: 4rem;
  }
  .textContainer h1 span {
    font-size: 1.5rem;
  }

  .textContainer p {
    margin-top: 1.5rem;
    color: #1f1f1f;
    font-size: 0.9rem;
    width: 85%;
    word-spacing: 0.01rem;
  }
  .banerContainer {
    background-size: 125%;
    background-repeat: no-repeat;
    background-position: top;
  }
}
