.banerContainer {
  height: 100vh;
  padding: 2rem 9%;
  background: #c7eeff;
  background-image: url("/others/baner.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
  overflow-x: hidden;
}

.textContainer {
  color: black;
  width: 60%;
  display: flex;
  justify-content: center;
}

.textContainer h1 {
  font-size: 2.3rem;
  display: inline;
  color: black;
}

.textContainer p {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  width: 85%;
  word-spacing: 0.01rem;
  font-weight: 400;
}
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  margin-top: 2rem;
  display: flex;
}

@media (max-width: 1070px) {
  .textContainer {
    width: 70%;
  }
}

@media (max-width: 820px) {
  .textContainer {
    width: 95%;
  }
}

@media (max-width: 712px) {
  .banerContainer {
    flex-direction: column;
    padding: 2rem 9%;
    width: 100%;
  }
  .textContainer {
    width: 100%;
  }
  .textContainer h1 {
    font-size: 1.9rem;
  }
  .textContainer p {
    font-size: 1.1rem;
  }

  .imageContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 4rem;
  }
}
@media (max-width: 620px) {
  .textContainer p {
    width: 100%;
  }
}

@media (max-width: 444px) {
  .banerContainer {
    display: flex;
    flex-direction: column;
    padding: 2rem 9%;
    border-radius: 0;
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 25% bottom;
  }

  .textContainer h1 {
    font-size: 1.8rem;
  }
  .textContainer p {
    font-size: 1.1rem;
  }
}

@media (max-width: 381px) {
  .banerContainer {
    background-size: 120%;
  }
}
