.banerContainer {
  height: 100vh;
  padding: 2rem 9%;
  background: #c7eeff;
  background-image: url("/baner_nowy.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.textContainer {
  color: black;
  width: 60%;
  display: flex;
  justify-content: center;
  margin-top: 6.3rem;
}

.textContainer h1 {
  font-size: 2.3rem;
  transition: ease-in 0.2s;
}
.textContainer h1:hover {
  transform: skewY(1deg) skewX(3deg);
}
.span {
  color: #0263ff;
}
.textContainer p {
  margin-top: 1.5rem;
  color: #41403f;
  font-size: 1.1rem;
  width: 85%;
  word-spacing: 0.01rem;
}
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  margin-top: 1.5rem;
  display: flex;
}

.wesole {
  color: #fa7070;
  font-weight: bold;
  font-size: 1.22rem;
}

@media (max-width: 1252px) {
  .textContainer h1 {
    font-size: 2rem;
  }
  .textContainer p {
    font-size: 1rem;
  }
  .banerContainer {
    padding: 1.5rem 7%;
  }
}

@media (max-width: 1070px) {
  .textContainer h1 {
    font-size: 1.7rem;
  }
  .textContainer p {
    font-size: 0.98rem;
  }
  .textContainer {
    width: 70%;
  }
  .banerContainer {
    padding: 1rem 5%;
  }
}

@media (max-width: 834px) {
  .buttonContainer button {
    padding: 0.7rem 0.7rem;
  }
  .textContainer h1 {
    font-size: 1.5rem;
  }
  .textContainer p {
    font-size: 0.95rem;
  }
}

@media (max-width: 712px) {
  .banerContainer {
    flex-direction: column;
    padding: 2rem 9%;
    width: 100%;
    margin-top: 0;
  }
  .textContainer {
    width: 100%;
  }
  .textContainer h1 {
    font-size: 1.9rem;
  }
  .textContainer p {
    font-size: 1.1rem;
  }
  .buttonContainer button {
    padding: 0.9rem 1.3rem;
    font-size: 1rem !important;
    margin-right: 2rem !important;
  }
  .imageContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 4rem;
  }
}
@media (max-width: 620px) {
  .textContainer {
    margin-top: 6.5rem;
  }
}

@media (max-width: 444px) {
  .banerContainer {
    display: flex;
    flex-direction: column;
    padding: 2rem 9%;
    border-radius: 0;
  }

  .textContainer h1 {
    font-size: 1.8rem;
  }
  .textContainer p {
    font-size: 1.1rem;
  }
  .buttonContainer button {
    font-size: 1rem !important;
    margin-right: 1rem !important;
  }
}

@media (max-width: 406px) {
  .buttonContainer button {
    font-size: 0.9rem !important;
  }
}

@media (max-width: 381px) {
  .buttonContainer button {
    padding: 0.9rem 0.9rem;
  }
}
@media (max-width: 350px) {
  .banerContainer {
    padding: 2rem 5%;
  }
}
