.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #fffbf2;
  overflow-x: hidden;
  padding: 4rem 9%;
}

.iconContainer {
  display: inline;
}

.fbIconLink {
  transition: transform 0.2s ease;
  display: inline-block;
  margin-left: 1rem;
}

.fbIconLink:hover {
  transform: scale(1.1);
}

.heading {
  font-size: 2.3rem;
  font-weight: 600;
  margin-bottom: 4.5rem;
  text-align: center;
  color: #1a202c;
  position: relative;
  display: inline-block;
  cursor: default;
}

.highlight {
  color: #3182ce;
  font-weight: 700;
  position: relative;
}

.highlight::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, #3182ce, #63b3ed);
  bottom: -6px;
  left: 0;
  border-radius: 2px;
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}

.postsList {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  list-style: none;
}

.postItem {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1.5rem;
  text-align: left;
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message {
  font-size: 1rem;
  color: #2d3748;
  margin-bottom: 2.5rem;
  white-space: pre-wrap;
  line-height: 1.5;
}
.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 3/3;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 1rem;
}

.image {
  object-fit: cover;
  object-position: center;
}

.date {
  display: block;
  font-size: 0.85rem;
  color: #718096;
  text-align: right;
}

.linkWrapper {
  margin-top: 8px;
}

.postLink {
  display: inline-block;
  color: #1877f2;
  text-decoration: none;
  font-weight: bold;
  margin-top: 4px;
}

.postLink:hover {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .postsList {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .postsList {
    grid-template-columns: 1fr;
  }
  .heading {
    font-size: 2rem;
  }
  .highlight::after {
    bottom: -0px;
  }
}

@media (max-width: 600px) {
  .heading {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  .fbIconLink {
    margin-left: 0rem;
    margin-bottom: 3rem;
  }

  .iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
