.container {
  padding: 4rem 9%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

.description h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.description p {
  text-align: center;
  margin-bottom: 3.5rem;
  font-weight: 400;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

/* Media queries */
@media (max-width: 1600px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.5rem;
  }
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5rem;
  }
}

@media (max-width: 950px) {
  .grid {
    grid-gap: 2rem;
  }
}

@media (max-width: 889px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .description h2 {
    font-size: 1.6rem;
  }
}
