.container {
  padding: 4rem 9%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

.description h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.3rem;
}

.description p {
  text-align: center;
  font-weight: 400;
  width: 80%;
  font-size: 1.1rem;
  margin: auto;
  margin-bottom: 3.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  width: 100%;
  grid-auto-rows: 1fr; /* Zapewnia, że wszystkie elementy mają równą wysokość */
  align-items: stretch; /* Rozciąga elementy na całą wysokość */
}

/* Media queries */
@media (max-width: 1600px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.5rem;
  }
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5rem;
  }
}

@media (max-width: 950px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); /* Utrzymanie dwóch kolumn */
    grid-gap: 2rem;
  }
}

@media (max-width: 889px) {
  .grid {
    grid-template-columns: 1fr; /* Jeden element w kolumnie */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .description h2 {
    font-size: 1.6rem;
  }
  .description p {
    width: 100%;
  }
}
