.wrapper {
  padding: 4rem 0;
}
.counter {
  display: inline;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.8rem;
  color: green;
}

.container {
  padding: 2rem 9%;
}

.container h2 {
  text-align: center;
  font-size: 1.7rem;
}

.description {
  margin-top: 1rem;
}

.container p {
  text-align: center;
}

.slider {
  margin: auto;
  width: 100%;
}

.header h2 {
  word-spacing: 0.3rem;
  font-size: 2.3rem;
  text-align: center;
  padding: 2rem;
  margin-top: 2rem;
}

.header p {
  width: 45%;
  text-align: center;
  margin: auto;
  line-height: 2rem;
}

.reviewContainer {
  margin-top: 3rem;
}
.reviewItem {
  width: 50%;
  padding: 1rem;
}

.review {
  width: 100%;
  padding: 2rem;
  border-radius: 1.5rem;
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.review h6 {
  padding-top: 1rem;
  font-size: 1.1rem;
  color: rgb(9, 77, 87);
}
.line {
  width: 100%;
  height: 1px;
  background: black;
  margin-top: 1.5rem;
}

.rotate {
  transform: rotate(180deg);
  margin-right: 2rem;
}
.rotate svg {
  color: black;
  font-size: 2rem;
}

.rightArrow {
  margin-left: 2rem;
}
.rightArrow svg {
  color: black;
  font-size: 2rem;
}

@media (max-width: 1200px) {
  .container h2 {
    font-size: 1.5rem;
  }

  .header p {
    width: 75%;
  }
  .reviewContainer {
    margin-top: 2rem;
  }
}

@media (max-width: 900px) {
  .slider {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .wrapper {
    padding: 0;
  }
  .container {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  .rotate {
    display: none;
  }
  .rightArrow {
    display: none;
  }
  .header p {
    width: 75%;
  }
}
