.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fffbf2;
  overflow-x: hidden;
}
.textContainer {
  padding: 2rem 9%;
  display: flex;
  justify-content: space-between;
}
.textContainer h2 {
  font-size: 2rem;
  padding-top: 1rem;
  margin-bottom: 3rem;
}

.textContainer p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: black;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.card {
  background: orange;
  border-radius: 2rem;
  padding: 1.2rem 1.2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card svg {
  font-size: 2.3rem;
}

.card h3 {
  margin-top: 1rem;
  font-size: 1.3rem;
}

.card p {
  font-size: 1rem;
}

.card1 {
  background: #ffede9;
  color: #ff583d;
}
.card2 {
  background: #f3efff;
  color: #6d5ebc;
}
.card3 {
  background: #fff7e2;
  color: #f8b03f;
}
.card4 {
  background: #e4fffd;
  color: #35d4ae;
}

.left {
  width: 70%;
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27%;
}

.right img {
  transition: all ease 0.2s;
  transform: scaleX(-1); /* Odbicie lustrzane */
}

@media (max-width: 1200px) {
  .textContainer {
    flex-direction: column;
    margin-bottom: 2rem;
    gap: 4rem;
  }
  .cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 35%;
    margin: auto;
  }
}

@media (max-width: 900px) {
  .textContainer h2 {
    font-size: 1.8rem;
  }
  .cardContainer {
    gap: 1rem;
  }
  .right {
    width: 45%;
  }
}
@media (max-width: 600px) {
  .textContainer h2 {
    font-size: 1.6rem;
  }
  .cardContainer {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .textContainer {
    gap: 3rem;
  }
  .card {
    padding: 1.5rem;
  }
  .right {
    width: 65%;
  }
}
