.pricingContainer {
  padding: 2rem 9%;
}

.header {
  text-align: center;
  margin-top: 5rem;
  font-size: 2.3rem;
  color: #fa7070;
}

.description {
  color: rgb(78, 77, 77);
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: left;
  padding: 0rem 9%;
}

.description a {
  color: #d64242;
  text-decoration: underline;
}

.description p {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.description ul {
  padding: 1rem;
}

.pricingContainer h2 {
  margin-top: 1rem;
  font-size: 1.4rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #fa7070;
  padding: 1rem;
  border-radius: 1rem;
}

.pricingContainer span {
  color: #08c6c3;
}

.pickMe {
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease;
}

.pickMe:hover {
  opacity: 0.9;
  cursor: pointer;
  scale: 1.01;
}

.textContainer {
  margin-top: 3rem;
}

@media (max-width: 728px) {
  .description {
    width: 100%;
  }
  .pricingContainer h2 {
    margin-top: 1rem;
    font-size: 1.4rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #fa7070;
    padding: 1rem;
    border-radius: 1rem;
  }
}

@media (max-width: 608px) {
  .pricingContainer h2 {
    font-size: 1.2rem;
  }
  .pricingContainer {
    padding: 2rem 4%;
  }
  .header {
    font-size: 1.8rem;
  }
  .description {
    margin-top: 2rem;
  }
}
