.container {
  padding: 2rem 9%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1rem;
}
.header {
  margin-top: 3rem;
}

.imageContainer {
  width: 100%;
  padding: 1rem;
}

.image {
  width: 100%;
  border-radius: 1rem;
}

@media (max-width: 1000px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
