.container {
  padding: 2rem 9%;
  margin-bottom: 12rem;
}

.baner {
  width: 100%;
  display: flex;
  padding: 2rem 9%;
  justify-content: space-between;
  background: #c7eeff;
  background-image: url("/baner_nowy.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 100vh;
}

.leftContainer {
  margin-top: 7rem;
  width: 60%;
  border-radius: 1rem;
}

.leftContainer h1 {
  font-size: 2.3rem;
}

.leftContainer p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.05rem;
  color: #616161;
  word-spacing: 0.01rem;
  font-weight: 500;
}

.mapContainer {
  margin-top: 2.5rem;
  width: 100%;
  border-radius: 1rem;
  height: 500px;
  display: flex;
  justify-content: center;
}
.mapContainer iframe {
  width: 100%;
  border-radius: 1rem;
  border: 0;
}

.container p {
  font-size: 1rem;
  margin-top: 1rem;
}

.description ul {
  padding-left: 3rem;
}

.container h3 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.buttonContainer {
  display: flex;
  margin-top: 1.5rem;
}

.container span {
  color: #08c6c3;
  font-weight: bold;
}

.container h2 {
  text-align: center;
  margin-top: 3rem;
  font-size: 1.5rem;
  color: #fa7070;
}

.container h2:nth-child(1) {
  margin-top: 1.3rem;
}
.description h2 {
  text-align: left;
  margin-bottom: 1rem;
}

.galleryContainer h2 {
  font-size: 2.3rem;
  margin-top: 3rem !important;
}

@media (max-width: 800px) {
  .leftContainer {
    margin-top: 9rem;
    width: 95%;
  }
  .mapContainer {
    height: 250px;
  }
}

@media (max-width: 600px) {
  .leftContainer {
    margin-top: 6rem;
    width: 95%;
  }
  .leftContainer h1 {
    font-size: 1.8rem;
  }
  .container {
    margin-bottom: 6rem;
  }
  .container h2 {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #fa7070;
  }
  .galleryContainer h2 {
    font-size: 1.8rem;
  }
  .description ul {
    padding-left: 1.5rem;
  }
}

@media (max-width: 444px) {
  .baner {
    background-size: 250%;
    background-repeat: no-repeat;
    background-position: 60% bottom;
  }
}

@media (max-width: 376px) {
  .baner {
    background-size: 100%;
  }
}

/* urzadzenie na boku */

@media (max-height: 440px) {
  .leftContainer {
    margin-top: 5.4rem;
  }
  .leftContainer h1 {
    font-size: 1.3rem;
  }

  .leftContainer p {
    margin-top: 1rem;
    color: #1f1f1f;
    font-size: 0.9rem;
    width: 85%;
    word-spacing: 0.01rem;
    margin-bottom: 0rem !important;
  }
  .buttonContainer {
    margin-top: 1rem;
  }
  .baner {
    background-size: 125%;
    background-repeat: no-repeat;
    background-position: top;
  }
}
