.container {
  text-align: center;
  color: rgb(0, 0, 0);
  width: 60%;
  margin: auto;
  padding-top: 2rem;
}
.container h1 {
  margin-top: 5rem;
  font-size: 2.3rem !important;
}

.contactContainer {
  padding: 3rem 7%;
  display: flex;
  margin: auto;
  width: 90%;
  margin-top: 4rem;
  border-radius: 1rem;
  justify-content: space-between;
  gap: 6rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.animals {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}
.animalsImgContainer {
  width: 80%;
}
.animals img {
  transform: translateX(-1.7rem);
  margin-bottom: 1rem;
}
.text {
  width: 60%;
}

.contactContainer h2 {
  font-size: 1.8rem;
}

.contactContainer p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: grey;
}

.info {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  align-items: center;
}
.itemFacebook {
  display: flex;
  align-items: center;
}

.itemFacebook svg:hover {
  color: #fa7070 !important;
}

.itemFacebook p:hover {
  color: #fa7070;
}

.info svg {
  margin-right: 1.4rem;
  color: #fa7070;
  font-size: 1.8rem;
  vertical-align: middle;
}

.info p {
  color: black;
  font-size: 1.2rem;
  vertical-align: middle;
}

.phone {
  transform: translateY(-4px);
}

.info a {
  font-size: 1.2rem;
}
.info a:hover {
  color: #fa7070;
}
.facebook {
  color: blue !important;
}

@media (max-width: 1263px) {
  .animals {
    width: 35%;
  }
  .animals img {
    transform: translateX(-0rem);
  }
  .contactContainer h2 {
    font-size: 1.6rem;
  }
  .info p {
    font-size: 1.2rem;
  }
}

@media (max-width: 1000px) {
  .contactContainer {
    padding: 2rem 9%;
    flex-direction: column;
    gap: 3rem;
  }
  .animalsImgContainer {
    width: 50%;
  }
  .animals {
    width: 100%;
  }
  .text {
    width: 100%;
  }

  .info p {
    font-size: 1.25rem;
  }
  .info a {
    font-size: 1.25rem;
  }
}

@media (max-width: 621px) {
  .animals img {
    margin-bottom: 0rem;
  }
  .animalsImgContainer {
    width: 55%;
  }
  .container h1 {
    font-size: 2.3rem !important;
    width: 100% !important;
  }
  .container {
    width: 100% !important;
    padding: 2rem 9%;
  }
  .contactContainer {
    width: 92%;
  }
  .contactContainer {
    margin-top: 1.5rem;
    padding: 2rem;
    margin-bottom: 0rem;
  }
}

@media (max-width: 500px) {
  .animalsImgContainer {
    width: 72%;
  }
  .item p {
    font-size: 1.1rem;
  }
  .item a {
    font-size: 1.1rem;
  }
  .itemFacebook p {
    font-size: 1.1rem;
  }
  .info svg {
    margin-right: 1rem;
    color: #fa7070;
    font-size: 1.8rem;
  }
  .contactContainer {
    gap: 2.5rem;
  }
  .animals {
    margin-bottom: 0;
  }
}
